@font-face {
    font-family: 'Ducati font';
    src: url('../assets/fuentes/DucatiStyleExt_Rg.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ducati font';
    src: url('../assets/fuentes/DucatiStyleExt_Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

